@media(min-width: 768px) {
  .personal-data__input::before {
    content: '';
    width: 0.7rem;
    height: 0.3rem;
    background: #000;
    position: absolute;
    top: 3.7rem;
    left: -0.35rem;
  }

  .personal-data__input:first-child:before {
    display: none;
  }
}
